<section class="flex flex-col-reverse gap-7 md:flex-row md:gap-0 justify-center items-center">

    <article class="text-white w-[340px] sm:w-[520px] ">
        <p class="mb-3 text-xl">
            Me llamo Alejandro Perez Jaramillo, comencé a estudiar <span class="text-yellow-100">ingeniería en sistemas</span> en 2021 y desde entonces me he enfocado en mejorar mis habilidades como <span class="text-red-200">desarrollador web</span>.
        </p>
        <p class="mb-3 text-xl">
            Uno de mis proyectos más destacados es <span class="text-yellow-100">TripBalance</span>, una aplicación diseñada para la <span class="text-red-200">gestión de viajes colaborativos</span> entre amigos, facilita el control y reparto de gastos asegurando una contabilidad clara y organizada. También desarrollé <span class="text-yellow-100">Free Code Barber</span> una plataforma que <span class="text-red-200">permite a los usuarios agendar citas con barberos de forma sencilla</span>, evitando la necesidad de contacto directo y optimizando el proceso.
        </p>
        <p class="text-xl">
            Me apasiona la <span class="text-yellow-100">programación</span> y siempre estoy en busqueda <span class="text-red-200">nuevos retos</span> que me permitan seguir <span class="text-red-200">aprendiendo y mejorando</span>.
        </p>
    </article>
    
    <figure class="w-[340px] flex justify-center items-center">
        <div class="rounded-2xl rotate-2 border-2 border-white/25 p-1">
            <img class="w-56 h-72 rounded-xl" src="img/fotoSobreMi.webp" alt="">
        </div>
    </figure>

</section>