
<div class="flex items-center hover:scale-105 duration-300">

    <span 
        class="relative inline-flex overflow-hidden rounded-full p-[1px]">

        <span
            class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#ffffff_0%,#555555_50%,#ffffff_100%)]">
        </span>

        <div
            class="inline-flex items-center justify-center w-full px-3 py-1 font-bold text-white/80 bg-black/70 rounded-full backdrop-blur-3xl whitespace-nowrap hover:bg-black/50 hover:text-yellow-200 duration-1000">
            Disponible para trabajar
        </div>
    </span>
    
</div>