---
interface Props {
    title: string,
    description: string,
    date: string,
    contact: string,
}
const { title, description, date, contact } = Astro.props;
---

<section class="relative z-[-2] text-wrap">
    <span class="absolute flex items-center justify-center size-1 bg-yellow-300 rounded-full start-[-34.1px] ring-4 ring-yellow-300 top-3">
    </span>

    <h3 class="flex items-center mb-2 text-2xl font-bold text-yellow-100">
        {title}
    </h3>
    
    <time class="block mb-3 ms-7 text-lg font-normal leading-none text-red-200">
        {date}
    </time>

    <p class="mb-3 text-xl font-normal text-white">
        {description}
    </p>

    <div class="flex flex-col md:flex-row ms-0 md:ms-7 text-lg font-normal leading-none text-white/90 text-wrap">
        <p class="text-red-200 ms-7">Contacto: </p>
        <h4 class="text-white opacity-80 md:ms-2">{contact}</h4>
    </div>
</section>
